<div class="header-container">
    <header>
        <h1 class="title">Testing components</h1><br><br>
         <a routerLink="/home">Home</a> | <a routerLink="/about" routerLinkActive="active">About</a> |
         <a routerLink="/pchart">Chart</a>| <a routerLink="/page">Pagination</a>
         <br><br>
    </header>
</div>

<div class="main-container">
    <router-outlet></router-outlet>
</div>

<div class="footer-container">
    <footer>
       
        <span>&copy; welcome to the our page</span>
    </footer>
</div>
